{% extends 'base.html' %}

{% block styles %}
    <link rel="stylesheet" href="//cdn.datatables.net/2.3.1/css/dataTables.dataTables.min.css">
{% endblock %}

{% block scripts %}
    <script src="//cdn.datatables.net/2.3.1/js/dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#transaction-table').DataTable({
                "processing": true,
                "serverSide": true,
                "ajax": "{% url 'fintrack:transactions-list' %}",  // URL to your BaseDatatableView
                "columns": [
                    {"data": "title"},
                    {"data": "amount"},
                    {"data": "transaction_type", "searchable": false},
                    {"data": "created_at"}
                ]
            });
        });
    </script>
{% endblock %}

{% block content %}
    <table id="transaction-table">
        <thead>
        <tr>
            <th>Title</th>
            <th>Amount</th>
            <th>Transaction Type</th>
            <th>Date</th>
        </tr>
        </thead>
    </table>
{% endblock %}